body{
    font-family: 'Kanit', sans-serif;
}
.carousel{
    height: 400px;
}
.pokeball{
    background-image: url(../img/Pokeballwallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.pokeball p{
    margin-bottom: 0%;
}